os: linux
dist:
    - xenial
    - bionic
    - focal

language: python

python:
    - "3.6"
    - "3.7"
    - "3.8"

# command to install dependencies
install:
    - pip install -e ".[dev]"
    #     - pip install -r requirements.txt

# command to run test
script:
    - bash scripts/test.sh
